.disabled { background-color: lightgray; color:silver; border-radius: 4px; padding: 4px 10px 4px 10px; }
.enabled { background-color: black; color:white; border-radius: 4px; padding: 4px 10px 4px 10px; }
.hidden{
  display:none;
}

.smallbr { font-size:15%; display: block;}

.msg { color:crimson; font-style:italic; }
.cofm-msg { color:darkgreen; font-style:italic; }

.need-attention { border: 1px solid crimson; } 

/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

html,
body {
  height: 100%;
}

.wrapper {
  display: flex; flex-direction: column; min-height: 100vh;
}

form {
  margin: 0;
}

#page-container {
  position: relative;  /* absolute;  */
  min-height: 100vh;
  width: 100%;
}
    
#content-wrap {
  padding-bottom: 6.5rem;    /* Footer height */
}

.container {
  margin-top: 20px;
}



/*
    Header things
*/

header{
  background-color: #333;
  color: white;
  padding: 20px;
  /* justify-content: space-between; */
  /* align-items: center; */
}

header h1 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.logout-btn {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-buttons, .logout-form {
  margin: 0;
  display: flex;
  align-items: center;
}

.profile-btn {
  background: url('../images/profile.png') no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 10%;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: none;
}

.profile-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 30px;    /*header padding + profile-btn margin*/
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.profile-menu a {
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  color: black;
}

#adminBtn, #groceryBtn, #requestBtn, #reviewBtn {
  margin-right: 20px;
}


/*
  footer things
*/

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 6.5rem;            /* Footer height */
  margin-top: 20px;
}

/*
  profile things
*/
.address-container {
  margin-top: 10px;
}
